<nav class="navbar navbar-dark bg-color">
    <div class="container-fluid">
        <a class="navbar-brand" href="/secrets">
            <i class="fas fa-key fa-lg secret-brand"></i>
            <i class="secretLogo"><span class="secretLogoAsterisk">&#42&#42&#42</span>Secret</i>
        </a>
        <a class="btn btn-light btn-sm" href="/logout" role="button">Log Out</a>
    </div>
</nav>