body {
  background-color: #E8ECEF;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-brand {
  width: 35px;
  height: 34px;
  padding: 6px 2px 0px 3px;
  border: 1px solid rgb(255, 255, 255);
}

.secretLogo {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
}

.secretLogoAsterisk {
  letter-spacing: 2px;
  line-height: 1;
  vertical-align: bottom;
}

.bg-color {
  background-color: #D12F2E;
}

.secretHeaderText {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.secretHeaderText>p {
  font-size: 2rem;
  margin: 0;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.addMenu {
  height: 45px;
  width: 45px;
  display: inline-block;
  cursor: pointer;
  background-color: #D12F2E;
  padding: 1.1rem 1rem;
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.addMenuItem {
  display: inline-block;
  position: relative;
  bottom: 23px;
  right: 16px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  font-size: 2em;
  vertical-align: middle;
  text-align: center;
  color: #E8ECEF;
}

.addMenuItem:hover {
  text-decoration: none;
  color: #c6cacc;
}

.submitSecretForm {
  margin: auto;
  width: 450px;
}

.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 37%;
}

.card-columns {
  
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}