<%- include('partials/header') %>

  <header>
    <%- include('partials/navbar') %>
  </header>

  <div class="container">
    <div class="jumbotron centered">

        <h1 class="display-3">Add Item</h1>

        <form action="/submit" method="POST" class="submitSecretForm">

          <div class="form-group">
            <input type="text" class="form-control text-center" name="secret" placeholder="URL: example.com">
            <input type="text" class="form-control text-center" name="secret" placeholder="Login">
            <input type="text" class="form-control text-center" name="secret" placeholder="Password">
          </div>

          <button type="submit" class="btn btn-dark">Submit</button>

        </form>
        
    </div>
  </div>
  <%- include('partials/footer') %>